---
layout: single
---
<style>
  .top{
    margin-bottom: 5%
  }
  .left {
    box-sizing: border-box;

  }
  .left img{
    width: 100%;
  }
  

  .right {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    font-size: 16px;
  }

  .critic-score-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    /* border-bottom: 1px solid #ccc; */
    /* padding-bottom: 5px; */
    /* margin-bottom: 5px; */
  }

  .namegame {
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #critic-box {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    padding: 4px;
  }

  .score-box {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #00ff7c;
    padding: 12px;
    border-radius: 10px;
  }

  .comment-box {
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .caption-container {
    display: flex;
  }

  #score-box1 {
    color: black;
    font-size: 22px;
    margin-left: 5px;
  }
  .line {
  width: 300px; /* Độ dài của đường thẳng */
  height: 6px; /* Độ rộng của đường thẳng */
  background-color: lightgray; /* Màu của đường thẳng */
  position: relative;
  margin-bottom: 20px; /* Khoảng cách với phần khác */
}

.divider {
  width: 0;
  height: 100%;
  background-color:#00ff7c; 
  position: absolute;
}


  @media only screen and (max-width: 767px) {
    .namegame {
    font-size: 16px;
}
.line{
  margin: -4% 0 0 13%;
}


}

/* CSS desktop */
@media only screen and (min-width: 768px) {
.page__related{
  width: 180%;
    padding-left: 40%;
}
.line{
  margin: -2% 0 0 8%;
}
.bottom{
  width: 1020px;
    
}
.grid__wrapper{
  display: flex; 
  flex-wrap: wrap;

}
.image-detail{
  max-height:260px ;
}
.grid__item .archive__item-teaser {
    max-height: 201px;
}



}


 
</style>

{% capture dataFileName %}{{ page.name | replace: '.md', '' | slice: 11, page.name.size }}{% endcapture %}
{% assign jsonData = site.data[dataFileName] %}

<div>
  <div class="">
    <div class="top">
      <div class="right">
        <div class="flex-container">
          <div class="namegame">
            {{ page.name | replace: '.md', '' | slice: 11, page.name.size | replace: '-', ' ' }}
          </div>
          <!-- <div id="critic-box">{{jsonData.meta-review.review-date}}</div> -->
        </div>
        <div class="caption-container">
          <div id="score-box" class="score-box">
            {{ jsonData.meta-review.score | round }}
          </div> 
          <div style="font-size: 16px; padding-left: 15px;" >{{ jsonData.meta-review.rating}}</div>
        </div>
        <div class="line">
          <div class="divider" id="divider"></div>
        </div>
        <div class="critic-score-container">
          <div class="comment-box">{{jsonData.meta-review.comment}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const score = document.getElementById("score-box");
const scoreValue = parseInt(score.innerHTML); // Parse the innerHTML as an integer

if (scoreValue > 80) {
  score.style.backgroundColor = "#00ff7c";
} else if (scoreValue > 69) {
  score.style.backgroundColor = "#ffc107";
} else if (scoreValue > 0) {
  score.style.backgroundColor = "red";
}

const maxScore = 100; // Giả sử điểm tối đa là 100
const line = document.querySelector('.line');
const divider = document.getElementById('divider');
const portion = (scoreValue / maxScore) * line.offsetWidth; // Tính phần chiều dài của phần xanh

// Áp dụng chiều dài cho phần màu xanh
divider.style.width = `${portion}px`;

if (scoreValue > 80) {
  divider.style.backgroundColor = "#00ff7c";
} else if (scoreValue > 69) {
  divider.style.backgroundColor = "#ffc107";
} else if (scoreValue > 0) {
  divider.style.backgroundColor = "red";
}


</script>


<div class="bottom" >
  <div class="page__inner-wrap" style="padding-bottom:30px;">
    {% include social-share.html %}

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
    {% include comments.html %}
    {% endif %}
    {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  </div>

  <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
  <div class="grid__wrapper">
  {% assign allfiles = site.static_files | reverse %}
  {% assign files = allfiles | sample: 100 %}
  {% assign count = 0 %}
  {% for file in files %}
      {% if count < 2 and file.path contains '/assets/images/scores/' %}
          {% assign count = count | plus: 1 %}
          <div class="gallery-item" style="flex: 0 0 24%; padding: 10px;">
            <div class="left-gallery">
              <a href="{{ file.name | remove: '.png' | remove: '.jpg' | remove: '.jpeg' | remove: '.gif' | remove: '.bmp' | slice: 11, file.name.size }}" style="color: #000000; text-transform: uppercase;">
                <img class="image-detail" src="{{ file.path }}"  />
              </a>
            </div>
            {% capture dataFileName %}{{ file.name | remove: '.png' | remove: '.jpg' | remove: '.jpeg' | remove: '.gif' | remove: '.bmp' | slice: 11, file.name.size }}{% endcapture %}
            {% assign jsonData = site.data[dataFileName] %}
            {% assign score = jsonData.meta-review.score | round %}
            <div class="caption" style="text-align: left;">
              <div style="font-size: 20px;">
                <a href="{{ file.name | remove: '.png' | remove: '.jpg' | remove: '.jpeg' | remove: '.gif' | remove: '.bmp' | slice: 11, file.name.size }}" style="color: #000000; text-transform: uppercase;">
                  {{ file.name | remove: '.png' | remove: '.jpg' | remove: '.jpeg' | remove: '.gif' | remove: '.bmp' | slice: 11, file.name.size | replace: '-', ' ' }}
                </a> 
              </div> 
              <p style="font-size: 12px;">{{ jsonData.meta-review.comment | slice: 0, 50 }}...</p>
            </div>
          </div>
      {% endif %}
  {% endfor %}
  {% for post in site.posts limit:2 %}
  {% if post.id == page.id %}
    {% continue %}  
  {% endif %}
  {% include archive-single.html type="grid" %}
{% endfor %}

</div>

 
  <div align="center" style="margin: 1em 0;">
    <ins class="adsbygoogle"
          style="display:block; border-bottom: initial;"
          data-ad-client="ca-pub-7328585512091257"
          data-ad-slot="3049671934"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
  </div>
</div>




      

